# параметры подключения
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# параметры для миграций и сидирования
MIGRATION_VERSION=6
APP_ENV=dev
SEED_COUNT=50

# параметры для создания ролей 
ANALYST_NAMES=user1,user2,user3

# бэкапы (раз в минуту)
BACKUP_INTERVAL_CRON=* * * * *
BACKUP_RETENTION_COUNT=5
TIME_ZONE=Europe/Moscow


# параметры для патрони
CLUSTER_SCOPE=pg-demo

HAPROXY_PRIMARY_HOST_PORT=5440
HAPROXY_REPLICA_HOST_PORT=5441   
PATRONI1_HOST_PORT=5434    
PATRONI2_HOST_PORT=5435
PATRONI3_HOST_PORT=5436