global
  maxconn 4096

defaults
  mode tcp
  timeout connect 5s
  timeout client  1m
  timeout server  1m

frontend pg
  bind *:5432
  default_backend pg-primary

backend pg-primary
  option httpchk GET /primary
  http-check expect status 200
  server s1 patroni1:5432 check port 8008
  server s2 patroni2:5432 check port 8008
  server s3 patroni3:5432 check port 8008

frontend pg-read
    bind *:5433
    default_backend pg-replica

backend pg-replica
  option httpchk GET /replica
  http-check expect status 200
  balance roundrobin
  server s1 patroni1:5432 check port 8008
  server s2 patroni2:5432 check port 8008
  server s3 patroni3:5432 check port 8008
